:root {
    --primary-color: rgb(202, 159, 77);
    --primary-color-dark: rgb(82, 61, 24);
    --primary-color-buttonClick: rgb(133, 122, 103);
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 40rem;
    margin: 4rem auto;
    background: rgb(82, 61, 24);
    color: aliceblue;
    padding: 2rem;
    border-radius: 10px;
}

form input, form label, form button {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

form input {
    font-size: 24px;
    border: none;
    height: 3rem;
    padding: 0 1rem;
    border-radius: 5px;
}

form input:focus {
    outline: 2px solid var(--primary-color);
}

form button {
    border: none;
    background: var(--primary-color);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    height: 3rem;
    margin-top: 2rem;
    cursor: pointer;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: .2s;
}

form button:hover {
    background: var(--primary-color-dark);
    border: 2px solid var(--primary-color);
    border-radius: 5px;
}

form button:active {
    background: var(--primary-color-buttonClick);
}

#resultado {
    background: var(--primary-color);
    padding: 10px 20px;
    height: 3rem;
    color: var(--primary-color-dark);
}