:root {
    --primary-color: rgb(209, 180, 125);
    --primary-color-dark: rgb(82, 61, 24);
    --primary-color-buttonClick: rgb(133, 122, 103);
    --primary-color-white: aliceblue;
}

* {
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: "Open Sans", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 40rem;
    margin: 4rem auto;
    text-align: center;
    background: var(--primary-color-dark);
    color: var(--primary-color-white);
    padding: 2rem;
    border-radius: 10px;
}

.relogio {
    font-size: 3em;
}

p button {
    width: 100px;
    height: 40px;
    color: var(--primary-color-dark);
    font-weight: 800;
    font-size: 1rem;
    border-radius: 4px;
    border: none;
    margin: 1em;
    cursor: pointer;
}

p button:hover {
    background: var(--primary-color-dark);
    border: 1px solid var(--primary-color);
    color: var(--primary-color-white);
}

.pausado {
    color: rgb(255, 68, 0);
}